

.row{
    margin-top: 10px;
}
.btn{
    margin-right: 5px;
}
.filter{
    border: black solid 1px;
    height: 80px;
}

/*Drill diagram*/
svg{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: #eee;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 5px;
    text-align: center;
}
