#my_dataviz{
   width: 150px;
   height: 150px;
   background-color: #a15768;
   border:brown solid 1px;
}
.inside{
   font-size:15px;
   color:black;
}
.label{
   font-size:15px;
   color:black;
}