.body{
  /* background-color:rgb(72, 255, 0); */
  height:1000px;
  width:100%;
  margin:auto;
  display:grid;
  grid-template-rows:5% 10% 65% 13%;
  grid-template-columns:4% 96%;
}

/* ************  Sidebar *********************/
.sidenav{
  background-color:#231c87;
  grid-row:1/6;
  grid-column:1/2;
  padding-top: 84%;
}

.sidenav > a{
  color: red;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  
}

.sidenav > a:hover {
  background-color: rgb(131, 212, 25);
}

.icon{
  width:50px;
  height: 50px;
}


/*  ***********     Menu Bar *******************/
.menubar{
  grid-row:1/2;
  grid-column:2/3;
   background-color:#1b55cf;
   margin:0;
   padding:0;
}

.menu-heading{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  color:white;
  margin-top: 15px;
  margin-left: 50px;
  
}

.menubar > ul > a{
  margin-right: 20px;
}

.menubar > ul > a > img{
  width:30px;
  height: 30px;
  margin-top: 10px;
}

.username{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color:white;
  padding-right: 10px;
  margin-top: 10px;
  border-right: solid 1px white;
}

/*****************  Home *********************/
.header{
  grid-row:2/3;
  grid-column:2/3;
  background-color:white;
  margin:0;
   padding:0;
}

.header > p{
  margin: 30px auto auto 100px;
font-family: Arial, Helvetica, sans-serif;
font-size: 1.5em;
}


.page-header{
  background-color:#eeeeee;
  margin:0;
   padding:0;
   height:50%; 
}

.page-header > p{
  margin: 1% auto auto 6.5%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  padding-top: 0.4%;
  
}

.page-header > p > .icon{
  width:3%;
  height: 3%;
  
}
.page-header > img {
  width:2%;
  height: 50%;
  margin-top: -2.5%;
  float: right;
  margin-right: 6%;
  
}

/** *******    Footer **********************/
.footer{
  grid-row:5/6;
  grid-column:2/3;
   background-color:gray;
   margin:0;
   padding:0;
}